:root {

	/* colours */
	--background: hsl(200, 15%, 60%);
	--text: hsl(200, 15%, 20%);
	--links: hsl(200, 15%, 20%);
	--hover: hsl(200, 15%, 40%);
	--header: hsl(200, 15%, 85%);
	--intro: hsl(200, 15%, 80%);
	--stuff: hsl(200, 15%, 75%);
	--contact: hsl(200, 15%, 70%);
	--b2top: hsl(200, 15%, 65%);
	
	/* scaling */
	--tabheight: clamp(30px, 5vw, 50px);
	
	/* fonts */
	--normal: 300;
	--heavy: 400;
}

@media (prefers-color-scheme: dark) {
	:root {

		/* colours */
		--background: hsl(200, 15%, 40%);
		--text: hsl(200, 15%, 80%);
		--links: hsl(200, 15%, 80%);
		--hover: hsl(200, 15%, 600%);
		--header: hsl(200, 15%, 15%);
		--intro: hsl(200, 15%, 20%);
		--stuff: hsl(200, 15%, 25%);
		--contact: hsl(200, 15%, 30%);
		--b2top: hsl(200, 15%, 35%);
	}
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	
    margin-block-start: 0;
    margin-block-end: 0;

		box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
			
body {
	color: var(--text);
	background-color: var(--background);
	font-family: 'Work Sans', sans-serif;
	font-weight: var(--normal);
}
a:link, a:visited, a:active {
	text-decoration: none;
	font-weight: var(--heavy);
	color: var(--links);
}
a:hover {
	color: var(--hover);
}

header {
	position: fixed;
	height: var(--tabheight);
	background-color: var(--header);
	z-index: 10;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

#name, nav, section h2 {
	line-height: calc(var(--tabheight) + 5px);
}

#name {
	font-size: clamp(1.4rem, 3.5vw, 2.2rem);
}

nav {
	font-size: clamp(1.2rem, 3vw, 2rem);
	text-align: right;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0 5px;
}

#hero {
	height: 100vh;
	background-color: var(--header);
	margin: 0 auto;
}

#hero p {
	text-align: center;
	line-height: 50vh;
}

section {
	min-height: calc(100vh - var(--tabheight));
	padding-bottom: var(--tabheight);
}
.anchor {position:absolute}

.tab {
	position: sticky;
	margin-top: calc(-1 * var(--tabheight));
	pointer-events: none; 
}
.tab h2 {
	width: 18%;
	height: calc(var(--tabheight) - 5px);
	padding: 0 .5rem;
	font-size: clamp(1.3rem, 3.25vw, 2.1rem);
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	pointer-events: auto; 
}
.tab::after {
	content: "";
	display:block;
	width:100%;
	height: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

section > article {
	font-size: clamp(0.9rem, 3vw, 1.1rem);
	width: calc(95% - 1rem);
	overflow: auto;
}

article p, article ul {
	margin: 0.3rem auto 0.8rem;
	max-width: 60ch;
}

article ul {
	list-style-type: none;
	text-align: center;
}

article ul li {
	line-height: 2.5rem;
}

article p b {
	margin: 1rem auto 1rem;
	font-weight: var(--heavy);
}

article > a {
	display: block;
	margin: 0 auto;
	max-width: 60ch;
}

a img {
	max-width: 100%;
}

.backtotop {
	position: absolute;
	height: 2rem;
	width: 2rem;
	bottom: 1rem;
	left: calc(50% - 1rem);
	text-align: center;
	font-size: 1.5rem;
	font-weight: var(--normal);
	line-height: 2rem;
	border-radius: 50%;
	background-color: var(--b2top);
}
.backtotop:hover {
	background-color: var(--background);
}

.intro {
	z-index: 11;
	top: 3px;
}
.intro h2 {
	margin-inline-start: calc(46% - 2rem);
	background-color: var(--intro);
}
.intro::after {
	background-color: var(--intro);
}
#intro {
	z-index: 1;
	background-color: var(--intro);
}
#gointro {top: calc(100vh - 10px - var(--tabheight))}
#intro img {
	display: block;
	margin: 0 auto;
	max-height: 30%;
}

.stuff {
	z-index: 12;
	top: 6px;
}
.stuff h2 {
	margin-inline-start: calc(64% - 1.5rem);
	background-color: var(--stuff);
}
.stuff::after {
	background-color: var(--stuff);
}
#stuff {
	z-index: 2;
	background-color: var(--stuff);
}
#gostuff {top: calc(200vh - 22px - (2 * var(--tabheight)))}

.cardcontent {
	height: calc(100% - 3.5rem);
	width: 95%;
	margin: 0 auto;
	overflow: auto;
}

.cardcontent article {
	width: 90%;
	height: 200px;
	background:dimgrey;
	margin: 5px;
}

.contact {
	z-index: 13;
	top: 9px;
}
.contact h2 {
	margin-inline-start: calc(82% - 1rem);
	background-color: var(--contact);
}
.contact::after {
	background-color: var(--contact);
}
#contact {
	z-index: 3;
	background-color: var(--contact);
}
#gocontact {top: calc(300vh - 38px - (3 * var(--tabheight)))}

@media only screen and (max-width: 450px) {
	:root {
	/* fonts */
	--normal: 400;
	--heavy: 500;
	}
	
}

@media only screen and (max-width: 380px) {
	#name, nav {
		font-size: 6vw;
	}
	
	section h2 {
		font-size: 5vw;
	}
	
	article {
		font-size: 0.8rem
	}
}

